﻿@model Restaurant.Models.Restaurants

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Restaurants</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cuisines)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cuisines)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Currency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Currency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Establishment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Establishment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasDelivery)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasDelivery)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasTakeaway)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasTakeaway)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StateCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StateCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Locality)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Locality)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocalityVerbose)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocalityVerbose)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ZipCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MenuUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MenuUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telephone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telephone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriceRange)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriceRange)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timings)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timings)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Url)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Url)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AggregateRating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AggregateRating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RatingText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RatingText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CityNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CityNavigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cuisine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cuisine.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
