﻿@model IEnumerable<Restaurant.Models.Restaurants>


@{
    ViewData["Title"] = "Index";
    string CheckMarkPath = "Images/Green_tick.png";
    string RedXPath = "Images/RedX.png";
}

<h1>Restaurants</h1>
<body class="center">
    <div class="dropdown">
        <button class="dropbtn">Sort By</button>
        <div class="dropdown-content">
            <a asp-action="Index" asp-route-sortOrder="@ViewData["RateSortParm"]">Rating</a>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">Name</a>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["CuisineSortParm"]">Cuisine</a>
        </div>
    </div>

    <form asp-action="Index" method="get">
        <div class="form-actions no-color">
            <p>
                Find by name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
                <input type="submit" value="Search" class="btn btn-default" /> |
                <a asp-action="Index">Back to Full List</a>
            </p>
        </div>
    </form>

    <form asp-action="Index" method="get">
        <div class="container">
            <p>Search by Cusine Type</p>
            <p>
                <input class="form-control" name="searchCusines" type="text" value="@ViewData["CusinesFilter"]" placeholder="Search...">
            </p>

        </div>
    </form>
    <br />
    <div class="card text-center">

        <div class="card-body text-center">

            @foreach (var item in Model)
            {
                <div class="card border-warning ">
                    <h5 class="card-title  ">@Html.DisplayFor(modelItem => item.Name)</h5>
                    <p>
                        <strong>  @Html.DisplayNameFor(modelItem => item.Cuisines):</strong>
                        @item.Cuisines
                    </p>
                    <p>
                        <strong>  @Html.DisplayNameFor(modelItem => item.Currency):</strong>
                        @item.Currency
                    </p>
                    <p>
                        <strong>  @Html.DisplayNameFor(modelItem => item.Establishment):</strong>
                        @item.Establishment
                    </p>
                    <p>
                        <strong> Location:</strong>
                        @item.Address @item.City, @item.StateCode, @item.ZipCode
                    </p>
                    <p>
                        <strong>Delivery:</strong>
                        @if (item.HasDelivery == 1)
                        {
                            <img src="@CheckMarkPath" style="width:15px;height:15px;" />
                        }
                        else
                        {
                            <img src="@RedXPath" style="width:15px;height:15px;" />
                        }
                        <strong>Takeout: </strong>
                        @if (item.HasTakeaway == 1)
                        {
                            <img src="@CheckMarkPath" style="width:15px;height:15px;" />
                        }
                        else
                        {
                            <img src="@RedXPath" style="width:15px;height:15px;" />
                        }
                        <br />
                    </p>
                    <p>
                        <strong>Rating:</strong>
                        @item.AggregateRating
                    </p>
                    <p>
                        <a href="@item.Url">Webpage</a>
                    </p>

                </div>
            }
        </div>
    </div>
</body>


