﻿html {
    background-image: url(../Images/flat-lay-delicious-food-plain-background-with-copy-space_23-2148305617.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
    background-attachment: fixed
}

body {
    margin: auto;
    width: 75%;
    border: 3px solid black;
    padding: 10px;
    background-color: mintcream;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

.navbar a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #ffffff;
    color: #000000;
}