﻿@model IEnumerable<Restaurant.Models.Reviews>

@{
    ViewData["Title"] = "Reviews";
}

<h1>Restaurant Reviews</h1>

<p>
    <input type="button" value="Create" onclick="location.href='@Url.Action("Create", "Reviews")'" />
</p>
@*<form asp-action="Index" method="get">
    <div class="container">
        <p>
            Search by Restaurant |
            <a asp-action="Index">Back to Full List</a>
        </p>
        <p>
            <input class="form-control" name="searchRestaurants" type="text" value="@ViewData["FilterReviews"]" placeholder="Search...">
        </p>
    </div>
</form>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RatingText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReviewText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReviewTimeFriendly)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Restaurant)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RatingText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewTimeFriendly)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Restaurant.Name)
            </td>
        </tr>
}
    </tbody>
</table>
